* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Baloo Chettan 2", cursive;
  color: #023047;
}

body {
  background-color: #023047;
}

ul {
  list-style: none;
  border: 2px solid #000;
  height: 250px;
  overflow: auto;
}

li {
  padding: 0.1rem 0.5rem;
}

button {
  border: 1px solid #023047;
  background-color: #ffb703;
  font-weight: 500;
}

li:nth-child(odd) {
  background: #8ecae6;
}

main {
  background-color: #219ebc;
  margin: 4rem auto;
  padding: 0 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 1.5rem;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem 1.5rem;
}

#table-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

#scores {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

#scores-title {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

#scores-title > button {
  margin-left: 1rem;
  height: 1.5rem;
  padding: 0 1rem;
}

#add-score > h2 {
  margin-bottom: 1rem;
}

#add-score > form {
  display: flex;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-score > form > input {
  margin-bottom: 1rem;
  border: 2px solid black;
  padding: 0.2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#add-score > form > button {
  align-self: flex-end;
  height: 1.5rem;
  padding: 0 1rem;
}
